@charset "UTF-8";
:root {
	--bs-dark: #181C32;
	--bs-green: #198754;
	--bs-primary: #009EF7;
	--bs-danger: #F1416C;
	--bs-active-success:#47BE7D;
	--bs-light-danger:#FFF5F8;
}

.pagetitle-below {
	border-top: 1px solid rgba(220,226,230,.5);
	padding-bottom: 20px;
}

#sh-template .main-grid-cell-content,
#sh-template .main-grid-editor-container {
	margin: 10px 16px;
}

#sh-template .main-grid-cell-action+.main-grid-cell:not([class*="main-grid-column-color"]) .main-grid-cell-content {
	margin-left: 3px;
}

#sh-template .main-grid-cell-head-container {
	padding: 11px 16px 6px;
}

#sh-template .main-grid-cell-action+.main-grid-cell-head:not([class*="main-grid-column-color"]) .main-grid-cell-head-container {
	padding-left: 2px;
}

#sh-template .sh-info .ui-alert.ui-alert-xs
{
	padding: 16px;
}

#sh-template .sh-info .ui-alert.ui-alert-xs .ui-alert-message
{
	width: 100%;
}

#sh-template .sh-info .ui-alert.ui-alert-xs .code table
{
	border-spacing: 0;
	width: 100%;
}

#sh-template .sh-info .ui-alert.ui-alert-xs .code table td
{
	padding: 0;
}
#sh-template .sh-info .ui-alert.ui-alert-xs .code pre
{
	margin: 0;
	background-color: var(--bs-dark, black);
	color: var(--bs-green, forestgreen);
	padding: 5px;
}

#sh-template .sh-upper
{
	color: var(--bs-primary, #0dcaf0);
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

#sh-template .main-grid-cell div.sh-status
{
	padding: 5px;
}
#sh-template tr[sh-status='success'] .main-grid-cell div.sh-status
{
	/*background-color: var(--bs-light-success, #E8FFF3);*/
	color: var(--bs-active-success, #47BE7D);
}

#sh-template tr[sh-status='danger'] .main-grid-cell div.sh-status
{
	color: var(--bs-danger, #F1416C);
}

#sh-template tr[sh-status='danger'] .main-grid-cell
{
	background-color: var(--bs-light-danger, #FFF5F8);
}

